<div class="container-fluid">
  <div class="row">
    <!--logo-->
    <div class="col-xs-2 col-lg-1">
      <div class="logo">
        <img src="assets/images/logo.png" alt="logo">
        <p><span>uni</span>bank</p>
      </div>
    </div>
    <!--search-->
    <div class="col-xs-6 col-lg-7">
      <form action="#" class="row search">
        <div class="col-xs-6 col-lg-5">
          <div class="inp">
            <i class="ub-search"></i>
            <input type="text" placeholder="Search...">
          </div>
        </div>
        <div class="col-xs-6 col-lg-7">
          <button>money transfer</button>
        </div>
      </form>
    </div>
    <!--user-->
    <div class="col-xs-2">
      <div class="row user">
        <div class="col-xs-8 col-md-9">
          <p>Hello, <span>Tomek</span></p>
        </div>
        <div class="col-xs-4 col-md-3">
          <div class="wrapper-photo">
            <div class="photo">
              <img src="assets/images/users/1.png" alt="">
            </div>
            <a href="#"><i class="ub-dropdown-brn"></i></a>
          </div>

        </div>
      </div>
    </div>
    <!--messages-->
    <div class="col-xs-1">
      <div class="messages">
        <i class="ub-messages"></i>
      </div>
    </div>
    <!--log out-->
    <div class="col-xs-1">
      <div class="row log-out">
        <div class="col-xs-6">
          <p>Logout</p>
        </div>
        <div class="col-xs-6">
          <i class="ub-logout"></i>
        </div>
      </div>
    </div>
  </div>
</div>
