.container-fluid
  background-color: #ffffff
  border-radius: 10px 10px 0 0
  margin-top: 50px

.container-fluid>.row
  padding: 0 10px 0 0
/*logo*/
.logo
  width: 105px
  padding: 10px 0
.logo img
  margin: 0 auto
  display: block
.logo p
  text-align: center
  text-transform: uppercase
.logo p span
  font-weight: 600

/*search*/
.search
  padding-top: 30px
.search .inp
  position: relative
  padding: 7px 10px 7px 27px
  border-radius: 15px
  -webkit-box-shadow: 2px 6px 5px -2px rgba(0,0,0,0.05)
  -moz-box-shadow: 2px 6px 5px -2px rgba(0,0,0,0.05)
  box-shadow: 2px 6px 5px -2px rgba(0,0,0,0.05)
.search .inp i
  position: absolute
  left: 8px
  top: 8px
.search .inp input
  width: 100%
  border: none
  outline: 0
  font-size: 10px
.search button
  float: right
  background-color: #392c70
  border: none
  outline: 0
  border-radius: 15px
  padding: 10px 15px
  font-size: 10px
  text-align: center
  color: #fff
  text-transform: uppercase
  font-family: "OpenSansRegular"
  opacity: 0.9
.search button:hover
  opacity: 1

/*user*/
.user
  padding-top: 30px
.user p
  color: #bdbbc6
  font-size: 10px
  margin: 11px 10px 0px 0
  text-align: right
.user p span
  color: #000
.user .wrapper-photo
  width: 45px
  height: 45px
  position: relative
.user .photo
  overflow: hidden
  border-radius: 50%
  margin: -5px 0 0 0

.user  a
  position: absolute
  bottom: -7px
  right: 0
  transform: scale(1,1)
.user  a:hover
  transform: scale(1.1,1.1)
.user .photo img
  width: 100%

/*messages*/
.messages
  padding-top: 30px
.messages i
  margin: 5px auto
  display: block

/*logout*/
.log-out
  padding-top: 30px
.log-out p
  font-size: 10px
  margin-top: 10px
.log-out i
  transform: scale(1,1)
  margin: 5px 0 0 3px
  opacity: .9
.log-out i:hover
  opacity: 1
  cursor: pointer
  transform: scale(1.2,1.2)


@media (min-width: 1170px)
  /*logo*/
  .logo
    width: 130px
    padding: 10px 25px
  .logo p
    font-size: 18px

  /*search*/
  .search .inp input
    font-size: 14px
  .search button
    border-radius: 20px
    font-size: 14px

  /*user*/
  .user p
    font-size: 14px
  .user .photo
    margin: -3px 0 0 0


  /*log-out*/
  .log-out p
    font-size: 14px
  .log-out i
    margin: 9px 0 0 3px

@media (min-width: 1600px)
  .container-fluid>.row
    padding: 0 20px



  /*logo*/
  .logo
    width: 110px
    padding: 10px 0

  /*search*/
  .search
    padding-left: 20px
  .search button
    padding: 10px 30px

  /*log-out[*/
  .log-out p
    text-align: right
  .log-out i
    margin: 9px auto
    display: block
