.container-fluid
  padding-left: 20px

.container-fluid>.row
  background: #fff
  padding: 30px 0
  -webkit-box-shadow: 0px 0px 24px -2px rgba(0,0,0,0.2)
  -moz-box-shadow: 0px 0px 24px -2px rgba(0,0,0,0.2)
  box-shadow: 0px 0px 24px -2px rgba(0,0,0,0.2)
  border-radius: 5px


h3.title
  margin: 0
  padding-left: 40px
  font-size: 18px

.dropdown
  float: right
  right: 40px
  top: -2px

.dropdown .btn
  background: #fff
  color: #000
  font-family: "OpenSansRegular"
  border-radius: 30px
  outline: 0
  font-size: 12px
  padding: 4px 12px

.dropdown .caret
  color: #b4b1bd

.dropdown-menu
  min-width: 182px
.dropdown-menu a
  font-family: "OpenSansRegular"
  font-size: 12px
.dropdown-menu li
  cursor: pointer


/*information*/
.information
  padding: 40px 40px 0

.information .name
  margin: 0
  width: 70%
  padding-bottom: 10px
  border-bottom: 1px solid rgba(0,0,0,.1)
.information .list
  margin-top: 20px
  list-style: none
.information .text
  font-family: "OpenSansRegular"
  font-size: 12px
  color: #000
  font-weight: 600

.information .text--shadow
  color: #b4b1bd
  font-weight: 300
.information .green
  color: #8ad933
.information .red
  color: red
.list
  &__item
    margin-top: 5px
  &__item:nth-child(1)
    margin: 0

/*foot-block*/
.foot-block
  margin-top: 20px
.foot-block .link--white,
.foot-block .link--purpl
  float: right
.foot-block .link--white
  margin-right: 10px

.link
  font-family: 'OpenSansRegular'
  font-size: 12px
  color: #b4b1bd
  cursor: pointer

.link--white
  font-size: 10px
  text-transform: uppercase
  color: #000
  border: 1px solid transparent
  box-shadow: 2px 6px 5px -2px rgba(0, 0, 0, 0.05)
  padding: 5px 12px
  border-radius: 30px
  font-weight: 600
.link--white:hover
  text-decoration: none
  border: 1px solid rgba(0, 0, 0, 0.1)

.link--purpl
  font-size: 10px
  text-transform: uppercase
  color: #fff
  background-color: #922c88
  padding: 5px 12px
  border-radius: 30px
  font-weight: 600
  opacity: .9
.link--purpl:hover
  text-decoration: none
  opacity: 1


.right
  padding-left: 10px
.right .foot-block
  margin-top: 94px

/*card*/
.card
  top: 30px
  position: relative
  width: 100%
  height: 130px
  border-radius: 8px
  background: #2a4590
  background: -moz-linear-gradient(left, #2a4590 0%, #572e80 100%)
  background: -webkit-linear-gradient(left, #2a4590 0%,#572e80 100%)
  background: linear-gradient(to right, #2a4590 0%,#572e80 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a4590', endColorstr='#572e80',GradientType=1 )

.card i
  position: absolute
  top: 11px
  left: 13px
.card .number
  position: relative
  top: 50%
  text-align: center
  color: #fff
  font-family: Courier, monospace
  letter-spacing: 2px
.card .text
  color: #fff
  font-family: Courier, monospace
  position: relative
  top: 55%
  left: 18px
