<div class="container-fluid">
  <div class="row">
  <!--dropdown-->
    <div class="drp">
      <div class="col-xs-6">
        <h3 class="title">Your cards</h3>
      </div>
      <div class="col-xs-6">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><i class="ub-small-card"></i> {{_card?.cardNumber}}
            <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a (click)="getCard('card-0000-0000-0000-0000')">0000 0000 0000 0000</a></li>
            <li><a (click)="getCard('card-1111-1111-1111-1111')">1111 1111 1111 1111</a></li>
            <li><a (click)="getCard('card-2222-2222-2222-2222')">2222 2222 2222 2222</a></li>
            <li><a (click)="getCard('card-3333-3333-3333-3333')">3333 3333 3333 3333</a></li>
          </ul>
        </div>
      </div>
    </div>
  <!--information-->
    <div class="information clearfix">
      <div class="col-xs-7">
      <!--name-->
        <h3 class="name">{{_card?.name}}</h3>
      <!--list-->
        <ul class="list">
          <li class="list__item row">
            <div class="col-xs-5">
              <p class="text">Card</p>
            </div>
            <div class="col-xs-7">
              <p class="text text--shadow">{{_card?.card}}</p>
            </div>
          </li>
          <li class="list__item row">
            <div class="col-xs-5">
              <p class="text">Card Type</p>
            </div>
            <div class="col-xs-7">
              <p class="text text--shadow">{{_card?.cardType}}</p>
            </div>
          </li>
          <li class="list__item row">
            <div class="col-xs-5">
              <p class="text">Account</p>
            </div>
            <div class="col-xs-7">
              <p class="text text--shadow">{{_card?.account}}</p>
            </div>
          </li>
          <li class="list__item row">
            <div class="col-xs-5">
              <p class="text">Card Number</p>
            </div>
            <div class="col-xs-7">
              <p class="text text--shadow">{{_card?.cardNumber}}</p>
            </div>
          </li>
          <li class="list__item row">
            <div class="col-xs-5">
              <p class="text">Expiry Date</p>
            </div>
            <div class="col-xs-7">
              <p class="text text--shadow">{{_card?.expiryDate}}</p>
            </div>
          </li>
          <li class="list__item row">
            <div class="col-xs-5">
              <p class="text">Status</p>
            </div>
            <div class="col-xs-7">
              <p class="text text--shadow"><span [ngClass]="_status ? 'green': 'red'">{{_card?.status}}</span></p>
            </div>
          </li>
          <li class="list__item row">
            <div class="col-xs-5">
              <p class="text">Blocked:</p>
            </div>
            <div class="col-xs-7">
              <p class="text text--shadow">{{_card?.blocked}}</p>
            </div>
          </li>
        </ul>
      <!--foot-block-->
        <div class="foot-block">
          <a class="link">More details &#8250;</a>
        </div>

      </div>
      <div class="col-xs-5">
        <div class="right">
          <div class="card">
            <i class="ub-unikredit"></i>
            <p class="number">{{_card?.cardNumber}}</p>
            <p class="text">{{_card?.name}}</p>
          </div>
          <div class="foot-block">
            <a class="link link--purpl">change pin</a>
            <a class="link link--white">withold card</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

