<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-5">
        <h3 class="title">History</h3>
      </div>
      <div class="col-xs-7">
        <div class="links">
          <a class="link link-h active" (click)="getHistoryTuday()">Tuday</a>
          <a class="link link-h" (click)="getHistoryYesterday()">Yesterday</a>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <ul class="list">
        <li *ngFor="let item of _history" class="list__item row">
          <div class="col-xs-2">
            <p class="icon">
              <img [src]="item.image" alt="">
            </p>
          </div>
          <div class="col-xs-8">
            <p class="title"><i  [ngClass]="item.raiting === 'up' ? 'ub-good-arrow' : 'ub-bad-arrow'" class="ub-bad-arrow"></i>{{item.pln}} PLN</p>
            <p class="text">{{item.name}}</p>
            <p class="text">{{item.place}}</p>
          </div>
          <div class="col-xs-2">
            <p class="time">{{item.time}}</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
