.container-fluid
  margin-top: 40px

.container-fluid>.row
  background: #fff
  padding: 30px 0
  -webkit-box-shadow: 0px 0px 24px -2px rgba(0,0,0,0.2)
  -moz-box-shadow: 0px 0px 24px -2px rgba(0,0,0,0.2)
  box-shadow: 0px 0px 24px -2px rgba(0,0,0,0.2)
  border-radius: 5px
  min-height: 450px

h3.title
  margin: 0
  padding-left: 40px
  font-size: 18px

.link
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
  font-size: 16px
  color: #000
  line-height: 20px


.links
  float: right
  padding-right: 40px
.links a
  cursor: pointer
  margin-left: 5px
  color: #333
  padding-bottom: 8px
  border-bottom: 2px solid transparent
.links a.active
  border-bottom: 2px solid #bb7bb4
.links a:hover
  text-decoration: none

.list
  height: 340px
  overflow-y: scroll
  padding: 0 40px
  margin-top: 20px
  list-style: none
  &__item
    padding: 10px 0
    border-top: 1px solid #f8f8f8
  &__item:nth-child(1)
    border: none

.list .title
  font-family: "OpenSansRegular"
  font-weight: 600
.text,
.time
  font-family: "OpenSansRegular"
  font-size: 10px
  color: #b4b1bd

.time
  margin-top: 20px

.icon
  position: relative
  top: 5px
  width: 30px
  height: 30px
  border-radius: 50%
  padding: 2px
  overflow: hidden
.icon img
  width: 100%

/* Для всех скроллбаров */
::-webkit-scrollbar
  width: 8px
  background-color: #fff

::-webkit-scrollbar-thumb
  width: 8px
  border-radius: 20px
  background: #f2f2f2

