<div class="container-fluid">
  <div class="row">
    <h3 class="title">Dashboard</h3>
    <p class="hint">You are in main panel</p>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <ub-summary>Loading...</ub-summary>
    </div>
    <div class="col-xs-6">
      <ub-card>Loading...</ub-card>
    </div>
    <div class="col-xs-3">
      <ub-history>Loading...</ub-history>
    </div>
    <div class="col-xs-4">
      <ub-changes>Loading...</ub-changes>
    </div>
    <div class="col-xs-5">
      <ub-messages>Loading...</ub-messages>
    </div>
  </div>
</div>
