.container-fluid
  padding-right: 20px

.container-fluid>.row
  background: #fff
  padding: 30px 0
  -webkit-box-shadow: 0px 0px 24px -2px rgba(0,0,0,0.2)
  -moz-box-shadow: 0px 0px 24px -2px rgba(0,0,0,0.2)
  box-shadow: 0px 0px 24px -2px rgba(0,0,0,0.2)
  border-radius: 5px
#curve_chart
  width: 100%

h3.title
  margin: 0
  padding-left: 40px
  font-size: 18px

.line-chart .title
  padding-left: 40px
  margin-top: 20px
  font-size: 12px
  color: #b4b1bd

.balance
  padding-left: 55px
  position: relative
  font-family: "OpenSansLight"
  font-size: 24px
.balance:before
  content: ''
  width: 7px
  height: 7px
  background: #8e2382
  border-radius: 50%
  position: absolute
  left: 42px
  top: 14px
