<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="title">Summary</h3>
    </div>
    <div class="col-xs-12">
      <div class="line-chart">
        <p class="title">Balance</p>
        <p class="balance">10 346,78<span>pln</span></p>
        <div id="curve_chart"></div>
      </div>
    </div>
  </div>
</div>


