.container-fluid
  margin-top: 40px
  padding-left: 20px

.container-fluid>.row
  background: #fff
  padding: 30px 0
  -webkit-box-shadow: 0px 0px 24px -2px rgba(0,0,0,0.2)
  -moz-box-shadow: 0px 0px 24px -2px rgba(0,0,0,0.2)
  box-shadow: 0px 0px 24px -2px rgba(0,0,0,0.2)
  border-radius: 5px

h3.title
  margin: 0
  padding-left: 40px
  font-size: 18px

.link
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
  font-size: 16px
  color: #000
  line-height: 20px


.links
  float: right
  padding-right: 40px
.links a
  cursor: pointer
  margin-left: 5px
  color: #333
  padding-bottom: 8px
  border-bottom: 2px solid transparent
.links a.active
  border-bottom: 2px solid #bb7bb4
.links a:hover
  text-decoration: none



/*list*/
.list
  height: 331px
  overflow-y: scroll
  margin-top: 30px
  list-style: none
  &__item
    border-top: 1px solid #f8f8f8
    padding: 15px 40px
    cursor: pointer
    opacity: .8
    border-left: 3px solid transparent
  &__item:hover
    opacity: 1
  &__item:nth-child(1)
    padding: 0 40px 15px
    border: none
  &__item.active
    border-left: 3px solid #87177c
    opacity: 1
    .content
      height: auto
      overflow: inherit
  .message
    margin-top: 15px
  .content
    padding-left: 20px
    height: 85px
    overflow: hidden
  h4
    margin: 0
    font-family: "OpenSansRegular"
    font-weight: bold
    font-size: 16px

.photo
  width: 40px
  height: 40px
  border-radius: 50%
  overflow: hidden
  img
    width: 100%
.message,
.name
  font-size: 12px
  color: #b4b1bd
  font-family: "OpenSansRegular"
.name
  font-weight: 600
  text-align: right

/* Для всех скроллбаров */
::-webkit-scrollbar
  width: 8px
  background-color: #fff

::-webkit-scrollbar-thumb
  width: 8px
  border-radius: 20px
  background: #f2f2f2
