<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-12">
        <h3 class="title">Messages</h3>
      </div>
      <div class="col-xs-12">
        <ul class="list">
          <li *ngFor="let item of _users" class="list__item row">
            <div class="col-xs-1">
              <div class="photo">
                <img [src]="item.photoUrl" alt="">
              </div>
            </div>
            <div class="col-xs-8">
              <div class="content">
                <h4 class="title">{{item.title}}</h4>
                <p class="message">{{item.message}}</p>
              </div>
            </div>
            <div class="col-xs-3">
              <p class="name">{{item.name}}</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
