<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-5">
        <h3 class="title">Charges</h3>
      </div>
      <div class="col-xs-7">
        <div class="links">
          <a class="link link-c active" (click)="getWeek()">Week</a>
          <a class="link link-c" (click)="getMonth()">Month</a>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="charge">
        <div id="donutchart"></div>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="statistic">
        <div class="col-xs-6">
          <p class="percent">{{_charges?.food}}%</p>
          <p class="name">Food</p>
          <div class="line"><i class="line__item item--food" [ngStyle]="{'width': _charges?.food+'%'}" ></i></div>
        </div>
        <div class="col-xs-6">
          <p class="percent">{{_charges?.house}}%</p>
          <p class="name">House</p>
          <div class="line"><i class="line__item item--house" [ngStyle]="{'width': _charges?.house+'%'}"></i></div>
        </div>
        <div class="col-xs-6">
          <p class="percent">{{_charges?.car}}%</p>
          <p class="name">Car</p>
          <div class="line"><i class="line__item item--car" [ngStyle]="{'width': _charges?.car+'%'}"></i></div>
        </div>
        <div class="col-xs-6">
          <p class="percent">{{_charges?.bills}}%</p>
          <p class="name">Bills</p>
          <div class="line"><i class="line__item item--bills" [ngStyle]="{'width': _charges?.bills+'%'}"></i></div>
        </div>
      </div>
    </div>
  </div>
</div>
