.container-fluid
  margin-top: 40px
  padding-left: 40px
  padding-right: 20px

.container-fluid>.row
  background: #fff
  padding: 30px 0
  -webkit-box-shadow: 0px 0px 24px -2px rgba(0,0,0,0.2)
  -moz-box-shadow: 0px 0px 24px -2px rgba(0,0,0,0.2)
  box-shadow: 0px 0px 24px -2px rgba(0,0,0,0.2)
  border-radius: 5px
  min-height: 450px

h3.title
  margin: 0
  padding-left: 40px
  font-size: 18px

.link
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
  font-size: 16px
  color: #000
  line-height: 20px


.links
  float: right
  padding-right: 40px
.links a
  cursor: pointer
  margin-left: 5px
  color: #333
  padding-bottom: 8px
  border-bottom: 2px solid transparent
.links a.active
  border-bottom: 2px solid #bb7bb4
.links a:hover
  text-decoration: none

.charge
  margin-top: 10px


/*statistic*/
.statistic
  padding: 0 40px
  .percent
    font-family: "OpenSansRegular"
    float: left
  .name
    font-family: "OpenSansRegular"
    float: right
    font-weight: 600
.statistic>div
  margin-bottom: 30px
.statistic>div:nth-child(2n)
  padding-left: 10px
.statistic>div:nth-child(2n+1)
  padding-right: 10px

.line
  clear: both
  position: relative
  top: 7px
  background: #f1f1f1
  width: 100%
  height: 3px
  &__item
    height: 3px
    position: absolute
    width: 50%

.item--food
  background: #86157b
.item--house
  background: #70ce09
.item--car
  background: #ff2366
.item--bills
  background: #75bbc3
