.container
  padding-top: 50px
  padding-bottom: 50px
.nav
  border-radius: 0 0 10px 10px
  background: #fff

h1.title
  font-size: 48px
  color: #333645
.subtitle
  color: #5e6173
  font-size: 16px
  font-family: "OpenSansRegular"

.description
  font-size: 16px
  color: #9095ad
  font-family: "OpenSansLight"

@media (min-width: 768px)
  h1.title
    margin-top: 20px
  .subtitle
    margin-top: 10px
  .description
    margin-top: 5px
@media (min-width: 1170px)
  .container
    padding: 50px 20px
@media (min-width: 1600px)
  .container
    padding-top: 100px

