<!--The whole content below can be removed with the new code.-->

<!--
<div class="ub-unikredit"></div>
<div class="ub-messages"></div>
<div class="ub-accounts"></div>
<div class="ub-cards"></div>
<div class="ub-contracts"></div>
<div class="ub-savings"></div>
<div class="ub-investmens"></div>
<div class="ub-loans"></div>
<div class="ub-logout"></div>
<div class="ub-small-card"></div>
<div class="ub-dashboard"></div>
<div class="ub-search"></div>
<div class="ub-dropdown-brn"></div>
<div class="ub-bad-arrow"></div>
<div class="ub-good-arrow"></div>
-->

<div class="container">
  <!--title-->
  <div class="row hidden-xs">
    <div class="col-xs-12">
        <img src="assets/images/logo-big.png" alt="">
    </div>
    <div class="col-xs-12">
      <h1 class="title">UniBank - Banking Dashboard</h1>
    </div>
    <div class="col-xs-12">
      <p class="subtitle">While focusing on numbers, financical industry often neglects users` online banking experience.</p>
    </div>
    <div class="col-xs-12 col-sm-8">
      <p class="description">The goal of this dashboard was to present the numbers in a form that`s easy to read and pleasant to the eye at the same time.</p>
    </div>
  </div>
  <!--head-->
  <div class="row">
    <div class="col-xs-12">
      <ub-head>Loading...</ub-head>
    </div>
  </div>
  <div class="row nav">
    <div class="col-xs-2 col-lg-1">
      <ub-navigation>Loading...</ub-navigation>
    </div>
    <div class="col-xs-10 col-lg-11">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>




