.navigation
  position: relative
  z-index: 1
  background: #fff
  margin-top: 5px

  &__item
    padding: 20px 0 25px
    display: block
    text-align: center
    position: relative
    text-decoration: none
  &__item:after
    content: ''
    height: 98%
    width: 3px
    background: #922c88
    position: absolute
    border-radius: 2px
    top: 1%
    right: 0
    display: none
  &__item.active:after
    display: block
  &__item:nth-child(1)
    padding: 30px 0 20px
  &__item i
    display: block
    margin: 0 auto
    position: relative
  &__item i.bg
    background-color: #922c88
    width: 40px
    height: 40px
    left: 50%
    margin: -12px 0 0 -20px
    position: absolute
    border-radius: 50%
    display: none
  &__item.active i.bg
    display: block
  &__item span
    position: relative
    font-family: "OpenSansRegular"
    text-transform: capitalize
    top: 5px
    color: #9d9d9d

.navigation:before
  content: ''
  width: 100%
  height: 3px
  background: #f8f8f8
  position: absolute
  top: 0
  left: 0
.ub-dashboard
  top: -5px
.ub-cards,
.ub-loans
  top: -1px
.ub-accounts,
.ub-savings,
.ub-contracts,
.ub-investmens
  top: -6px
.ub-contracts
  left: 4px
.ub-savings,
.ub-loans
  left: 1px
