<nav class="navigation">
  <a class="navigation__item" [routerLink]="['dashboard']" routerLinkActive="active">
    <i class="bg"></i>
    <i class="ub-dashboard"></i>
  <span>dashboard</span></a>
  <a class="navigation__item" [routerLink]="['accounts']" routerLinkActive="active"> <i class="bg"></i><i class="ub-accounts"></i><span>accounts</span></a>
  <a class="navigation__item" [routerLink]="['sevings']" routerLinkActive="active"> <i class="bg"></i><i class="ub-savings"></i><span>sevings</span></a>
  <a class="navigation__item" [routerLink]="['cards']" routerLinkActive="active"> <i class="bg"></i><i class="ub-cards"></i><span>cards</span></a>
  <a class="navigation__item" [routerLink]="['contracts']" routerLinkActive="active"> <i class="bg"></i><i class="ub-contracts"></i> <span>contracts</span></a>
  <a class="navigation__item" [routerLink]="['investmens']" routerLinkActive="active"> <i class="bg"></i><i class="ub-investmens"></i><span>investmens</span></a>
  <a class="navigation__item" [routerLink]="['loans']" routerLinkActive="active"> <i class="bg"></i><i class="ub-loans"></i> <span>loans</span></a>
</nav>
