.container-fluid
  background-color: #f8f8f8
  border-radius: 0 0 10px 0
  margin: 5px 0 0
  min-height: 650px
  -webkit-box-shadow: inset 1px 0px 3px 0px rgba(0, 0, 0, 0.1)
  -moz-box-shadow: inset 1px 0px 3px 0px rgba(0, 0, 0, 0.1)
  box-shadow: inset 1px 0px 3px 0px rgba(0, 0, 0, 0.1)
.container-fluid>.row
  padding: 15px 40px
h3.title
  margin: 0
  color: #9c4093
  font-family: "OpenSansRegular"
.hint
  font-family: "OpenSansRegular"
  font-size: 12px
  color: #b4b1bd
