/* You can add global styles to this file, and also import other style files */
@font-face
  font-family: "OpenSansRegular"
  src: url("assets/fonts/OpenSansRegular/OpenSansRegular.eot")
  src: url("assets/fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype")
  src: url("assets/fonts/OpenSansRegular/OpenSansRegular.woff") format("woff")
  src: url("assets/fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype")
  font-style: normal
  font-weight: normal

@font-face
  font-family: "OpenSansLight"
  src: url("assets/fonts/OpenSansLight/OpenSansLight.eot")
  src: url("assets/fonts/OpenSansLight/OpenSansLight.eot?#iefix")format("embedded-opentype")
  src: url("assets/fonts/OpenSansLight/OpenSansLight.woff") format("woff")
  src: url("assets/fonts/OpenSansLight/OpenSansLight.ttf") format("truetype")
  font-style: normal
  font-weight: normal


@font-face
  font-family: "OpenSansItalic"
  src: url("assets/fonts/OpenSansItalic/OpenSansItalic.eot")
  src: url("assets/fonts/OpenSansItalic/OpenSansItalic.eot?#iefix")format("embedded-opentype")
  src: url("assets/fonts/OpenSansItalic/OpenSansItalic.woff") format("woff")
  src: url("assets/fonts/OpenSansItalic/OpenSansItalic.ttf") format("truetype")
  font-style: normal
  font-weight: normal


@font-face
  font-family: "OpenSansBold"
  src: url("assets/fonts/OpenSansBold/OpenSansBold.eot")
  src: url("assets/fonts/OpenSansBold/OpenSansBold.eot?#iefix")format("embedded-opentype")
  src: url("assets/fonts/OpenSansBold/OpenSansBold.woff") format("woff")
  src: url("assets/fonts/OpenSansBold/OpenSansBold.ttf") format("truetype")
  font-style: normal
  font-weight: normal


@font-face
  font-family: "OpenSansExtraBold"
  src: url("assets/fonts/OpenSansExtraBold/OpenSansExtraBold.eot")
  src: url("assets/fonts/OpenSansExtraBold/OpenSansExtraBold.eot?#iefix")format("embedded-opentype")
  src: url("assets/fonts/OpenSansExtraBold/OpenSansExtraBold.woff") format("woff")
  src: url("assets/fonts/OpenSansExtraBold/OpenSansExtraBold.ttf") format("truetype")
  font-style: normal
  font-weight: normal


@font-face
  font-family: "OpenSansExtraBoldItalic"
  src: url("assets/fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.eot")
  src: url("assets/fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.eot?#iefix")format("embedded-opentype")
  src: url("assets/fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.woff") format("woff")
  src: url("assets/fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.ttf") format("truetype")
  font-style: normal
  font-weight: normal


@font-face
  font-family: "OpenSansBoldItalic"
  src: url("assets/fonts/OpenSansBoldItalic/OpenSansBoldItalic.eot")
  src: url("assets/fonts/OpenSansBoldItalic/OpenSansBoldItalic.eot?#iefix")format("embedded-opentype")
  src: url("assets/fonts/OpenSansBoldItalic/OpenSansBoldItalic.woff") format("woff")
  src: url("assets/fonts/OpenSansBoldItalic/OpenSansBoldItalic.ttf") format("truetype")
  font-style: normal
  font-weight: normal


@font-face
  font-family: "OpenSansRegularItalic"
  src: url("assets/fonts/OpenSansRegularItalic/OpenSansRegularItalic.eot")
  src: url("assets/fonts/OpenSansRegularItalic/OpenSansRegularItalic.eot?#iefix")format("embedded-opentype")
  src: url("assets/fonts/OpenSansRegularItalic/OpenSansRegularItalic.woff") format("woff")
  src: url("assets/fonts/OpenSansRegularItalic/OpenSansRegularItalic.ttf") format("truetype")
  font-style: normal
  font-weight: normal


@font-face
  font-family: "OpenSansSemiBold"
  src: url("assets/fonts/OpenSansSemiBold/OpenSansSemiBold.eot")
  src: url("assets/fonts/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix")format("embedded-opentype")
  src: url("assets/fonts/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff")
  src: url("assets/fonts/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype")
  font-style: normal
  font-weight: normal


@font-face
  font-family: "OpenSansSemiBoldItalic"
  src: url("assets/fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot")
  src: url("assets/fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot?#iefix")format("embedded-opentype")
  src: url("assets/fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.woff") format("woff")
  src: url("assets/fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.ttf") format("truetype")
  font-style: normal
  font-weight: normal



/*preloader*/
.wrapper-preloader
  position: fixed
  width: 100%
  height: 100%

.preloader
  position: absolute
  top: 100%
  left: 0
  width: 100%
  height: 100%
  transform: translateY(-75%)
  background-image: url('assets/images/preloader.gif')
  background-repeat: no-repeat
  background-size: 100%



/* sprite */
.ub-unikredit, .ub-messages, .ub-accounts, .ub-cards, .ub-contracts,
.ub-savings, .ub-investmens, .ub-loans, .ub-logout, .ub-small-card,
.ub-dashboard, .ub-search, .ub-dropdown-brn, .ub-bad-arrow, .ub-good-arrow
  display: inline-block
  background: url('assets/images/icons/sprite.png') no-repeat
  overflow: hidden
  text-indent: -9999px
  text-align: left

.ub-unikredit
  background-position: -5px -0px
  width: 37px
  height: 23px
.ub-messages
  background-position: -5px -28px
  width: 31px
  height: 26px
.ub-accounts
  background-position: -5px -59px
  width: 28px
  height: 27px
.ub-cards
  background-position: -5px -91px
  width: 28px
  height: 19px
.ub-contracts
  background-position: -5px -115px
  width: 27px
  height: 28px
.ub-savings
  background-position: -5px -148px
  width: 27px
  height: 27px
.ub-investmens
  background-position: -5px -180px
  width: 26px
  height: 24px
.ub-loans
  background-position: -5px -209px
  width: 26px
  height: 20px
.ub-logout
  background-position: -5px -234px
  width: 23px
  height: 23px
.ub-small-card
  background-position: -5px -262px
  width: 21px
  height: 12px
.ub-dashboard
  background-position: -5px -279px
  width: 20px
  height: 23px
.ub-search
  background-position: -5px -307px
  width: 18px
  height: 19px
.ub-dropdown-brn
  background-position: -5px -331px
  width: 17px
  height: 15px
.ub-bad-arrow
  background-position: -5px -351px
  width: 11px
  height: 10px
.ub-good-arrow
  background-position: -27px -331px
  width: 10px
  height: 11px


/*reset boostrap parametrs*/
.container, .container-fluid
  padding: 0
.row, p
  margin: 0
ul
  padding: 0
.row, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9
  padding: 0

body
  background-color: #fbfbfb
  //background-color: gray


@media (min-width: 320px)
  /*-------reset boostrap parametrs-------*/
  .container, .container-fluid
    padding: 0
  .row, p
    margin: 0
  ul
    padding: 0
  .row, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9
    padding: 0



  h1.title
    font-family: "OpenSansLight"

@media (min-width: 768px)
  /*-------reset boostrap parametrs-------*/
  .container, .container-fluid
    padding: 0
  .row, p
    margin: 0
  ul
    padding: 0
  .row, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9
    padding: 0

@media (min-width: 1170px)
  /*-------reset boostrap parametrs-------*/
  .container, .container-fluid
    padding: 0
  .row, p
    margin: 0
  ul
    padding: 0
  .row, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9
    padding: 0

@media (min-width: 1600px)
  /*-------reset boostrap parametrs-------*/
  .container, .container-fluid
    padding: 0
  .row, p
    margin: 0
  ul
    padding: 0
  .row, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9
    padding: 0
